* {
  box-sizing: border-box;
}

header {
  border: 1px solid green;
  width: 390px;
  height: 60px;
  padding: 16px 32px;
}

h1 {
  background-color: black;
  color: rgb(36, 90, 30);
  text-align: center;
  width: 300px;
  margin: 0;
}
